<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
  
	<link rel="shortcut icon" type="image/x-icon" href="/static/img/tasksauceicon.ico" />
	<title>TaskSauce</title>
  
	<!-- Bootstrap core CSS -->
	<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  
	<!-- Custom fonts for this template -->
	<link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
	<link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  
	<!-- Custom styles for this template -->
	<link href="static/css/landing-page.min.css" rel="stylesheet">	

</head>
<body>
	<%- include navbar.ejs -%>


		<!-- Tables Tasks -->
	  <section class="tasks text-center bg-light">
		<div class="container">
			

		  <!-- Tables in 2 rows -->
		  <% if (top_offerers.length !== 0 || top_completers.length !== 0) { %>
		  <div class="col py-4">
				<div class="card mx-auto">
					<h4 class="card-header">LEADERBOARD</h4>
						<div class="card-body">
							<% if (top_offerers.length !== 0) { %>
								<h5>Top 5 Job Offerers!</h5>
								<div style="overflow-x:auto;">
									<table class="table table-striped" id="top_job_offerers_table">
										<thead>
											<tr>
												<th style="width: 50%" scope="col">Name</th>
												<th style="width: 50%" scope="col">Offer Count</th>
											</tr>
										</thead>
										<tbody>
											<% for (var i=0; i < top_offerers.length; i++) { %>
												<tr>
													<td style="width: 50%"><%= top_offerers[i].username %></td>
													<td style="width: 50%"><%= top_offerers[i].count %></td>
												</tr>
											<% } %>
										</tbody>
									</table>
								</div>
							<% } %>
											
							<% if (top_completers.length !== 0) { %>
									<h5>Top 5 Job Completers!</h5>
									<div style="overflow-x:auto;">
											<table class="table table-striped" id="top_job_completers_table">
											<thead>
												<tr>
													<th style="width: 50%" scope="col">Name</th>
													<th style="width: 50%" scope="col">Offers Completed</th>
												</tr>
											</thead>
											<tbody>
												<% for (var i=0; i < top_completers.length; i++) { %>
													<tr>
														<td style="width: 50%"><%= top_completers[i].username %></td>
														<td style="width: 50%"><%= top_completers[i].count %></td>
													</tr>
												<% } %>
											</tbody>
											</table>
									</div>
							<% } %>
						</div>
					</div>
				</div>
			<% } %>

		</div>
	  </section>
		<%- include footer.ejs -%>
		
		<!-- Bootstrap core JavaScript -->
		<script src="/static/vendor/jquery/jquery.min.js"></script>
		<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>