<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" type="image/x-icon" href="/static/img/tasksauceicon.ico" />
  <title>TaskSauce</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


  <!-- Custom styles for this template -->
  <link href="/static/css/landing-page.min.css" rel="stylesheet">

  <!-- <link href="/static/css/reset.css" rel="stylesheet" type="text/css" media="screen" /> -->
  <!-- <link href="/static/css/styles.css" rel="stylesheet" type="text/css" media="screen" /> -->
  <!-- <link href="/static/css/responsive.css" rel="stylesheet" type="text/css" media="screen" /> -->
  <link href="/static/css/better-rating.css" rel="stylesheet" />

  <!--External fonts-->
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> -->

</head>

<body>

  <!-- Navigation -->
  <%- include navbar.ejs -%>

  <div class="text-center lead my-5">
      <% for(var i=0; i < data.length; i++) { %>
      <div class="card col-lg-8 offset-2" >
          <div class="card-body">
            <h5 class="font-weight-bold mb-3">Job: <%= data[i].job %></h5>
            <li class="list-group-item"><b>By: </b><a href = "/profile/<%= data[i].username %>"><%=data[i].username%></a></li>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Additional Infomation: </b><%= data[i].desc %></li>
            <li class="list-group-item"><b>Date: </b><%= data[i].date.toDateString() %></li>
            <li class="list-group-item"><b>Time: </b><%= data[i].time %></li>
            <li class="list-group-item"><b>Location: </b><%= data[i].loc %></li>
          </ul>
        </div>

        <div class="card my-3">
          <div class="card-header">
            <b>Accepted Bid</b>
          </div>
          <!-- <div class="card-body"> -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Accepted Price</th>
                <th scope="col">Bid User</th>
                <th scope ="col">Bid Details</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td><%= bid.bid_price%></td>
                  <td><%= bid.bid_user%></td>
                  <td><%= bid.bid_info%></td>
              </tr>
            </tbody>
          </table>
          <!-- </div> -->
        </div>

        <div class="card my-3">
          <div class="card-header">
            <b>Reviews</b>
          </div>
          <div class="card-body">
            <div style="overflow-x:auto;">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th style="width: 30%">Review by Author</th>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;"><%=bidID.rows[0].author_review%></td>
                  </tr>

                  <tr>
                    <th style="width: 30%">Rating by Author</th>
                    <td><%=bidID.rows[0].author_rating%></td>
                  </tr>

                  <tr>
                    <th style="width: 30%">Review by Completor</th>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;"><%=bidID.rows[0].bidder_review%></td>
                  </tr>

                  <tr>
                    <th style="width: 30%">Rating by Completor</th>
                    <td><%=bidID.rows[0].bidder_rating%></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

            <% if(author == 1){ %>
              <div class="card mx-3">
                <div class="card-header">Give a Review</div>
                
                <div class="card-body">
                  <form  id="better-rating-form"></form>

                  <form class="contact-form validate-form" method="POST" action="/requestCompleted/<%=data[0].job_id%>" id="better-rating-form">
                    <div class="wrap-input validate-input" data-validate="Rating is Required">
                      <span class="label-input">Rating:</span>
                      <div class="rating mt-2 mb-3">
                        <i class="fa fa-star" data-rate="1"></i>
                        <i class="fa fa-star" data-rate="2"></i>
                        <i class="fa fa-star" data-rate="3"></i>
                        <i class="fa fa-star" data-rate="4"></i>
                        <i class="fa fa-star" data-rate="5"></i>
                        <input type="hidden" id="rating-count" name="rating_count" value="0">
                      </div>
                      <span class="focus-input"></span>
                    </div>
            
                    <div class="wrap-input validate-input my-2" data-validate = "Review is Required">
                      <span class="label-input">Review:</span>
                      <textarea class="input" name="desc" id="desc" placeholder="Give your honest feedback!"></textarea>
                      <span class="focus-input"></span>
                    </div>
            
                    <div class="container-contact-form-btn">
                      <button class="btn-outline-info contact-form-btn">
                        <span>
                          Submit
                          <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                  </form>
                    
                  <!--  Javascript plugins -->
                  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                  <script src="/static/javascripts/better-rating.js"></script>
                  <!--  local Javascript file -->
                  <script src="/static/javascripts/main.js"></script>
                </div>
              </div>
            <% } %>
          </div>
        </div>

      <% } %>

  </div>
  <!-- Footer -->
  <%- include footer.ejs -%>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
