<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tasksauce</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/css/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <%- include navbar.ejs -%>
  <div class="text-center lead">
      <% for(var i=0; i < data.length; i++) { %>
      <div class="card col-lg-8 offset-2" >
          <div class="card-body">
            <h5 class="font-weight-bold mb-3">Job:<%= data[i].job %>e</h5>
            <p class="mb-0"><b>Additional Infomation: </b><%= data[i].desc %></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Date: </b><%= data[i].date %></li>
            <li class="list-group-item"><b>Time:</b><%= data[i].time %></li>
            <li class="list-group-item"><b>Location:</b><%= data[i].location %></li>
          </ul>
          <div class="card-body">
              <b>View Current Bids</b>
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Bid Price</th>
                      <th scope="col">Bid User</th>
                      <th scope ="col">Bid details</th>
                      <% if (self) { %>
                        <th scope = "col"> Accept Bid</th>
                      <% } %>
                    </tr>
                  </thead>
                  <tbody>

                      <% for(var i=0; i<data2.length; i++){ %>
                          <form method = 'POST' action = "/viewOfferJob/accept/<%= data2[i].bid_id %>">
                          <tr>
                              <td><%= data2[i].bid_price%></td>
                              <td><%= data2[i].bid_user%></td>
                              <td><%= data2[i].bid_info%></td>
                              <% if (self) { %>
                                <td><button type="submit" class="btn btn-info" value ="Accept"">Accept</button></td>
                              <% } %>
                            </tr>
                            </form>
                      <% } %>
                    </tbody>
                    </table>

            <% if (!auth) { %>
              <b>Login to make a bid</b>
            <% } else if (auth && !self){ %>
            
              <b>Make a bid for this job!!</b>
              <form class="contact-form validate-form" method="POST" action="/viewOfferJob/<%= jobId %>">

                  <div class="wrap-input validate-input" data-validate="Price is required">
                    <span class="label-input">Price:</span>
                    <input class="input" type="number" name="price" id="price">
                    <span class="focus-input"></span>
                  </div>
          
                  <div class="wrap-input validate-input" data-validate = "Additional Details are required">
                    <span class="label-input">Additional Details:</span>
                    <textarea  class="form-control input-lg" name="desc" id="desc" placeholder="Don't spare us the knitty gritty details!"></textarea>
                    <span class="focus-input"></span>
                  </div>
          
                  <div class="container-contact-form-btn">
                    <button class="contact-form-btn">
                      <span>
                        Submit
                        <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                      </span>
                    </button>
                  </div>
                </form>
              <% } else { %>
                <b>Can't bid for your own jobs</b>
              <% } %>
          </div>
        </div>
     
      

      <% } %>

  </div>
  <!-- Footer -->
  <%- include footer.ejs -%>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
