<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Task Sauce</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template -->
  <link href="/static/css/landing-page.min.css" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <%- include navbar.ejs -%>

  <div class="text-center lead my-5">
      <% for(var i=0; i < offers.length; i++) { %>
      <div class="card col-lg-8 offset-2">
        <div class="card-header">
          <div class="container">
            <div class="row">
              <div class="col-sm"></div>
              <div class="col-sm">
                <h3 class="font-weight-bold"><%= offers[i].job %></h3>
              </div>
              <div class="col-sm">
                <%- include modifyJobOfferButton.ejs -%>
              </div>
            </div>
          </div>
        </div>
          
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Description: </b><%= offers[i].details %></li>
              <li class="list-group-item"><b>By:</b><a href = "/profile/<%= offers[i].username %>"><%=offers[i].username%></a></li>
              <li class="list-group-item"><b>Date: </b><%= offers[i].date.toDateString() %></li>
              <li class="list-group-item"><b>Time: </b><%= offers[i].time %></li>
              <li class="list-group-item"><b>Location: </b><%= offers[i].loc %></li>
            </ul>
          </div>
          
          <div class="card">
            <div class="card-header">
                <b>View Current Bids</b>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Bid Price</th>
                      <th scope="col">Bid User</th>
                      <th scope ="col">Bid Details</th>
                      <% if (self) { %>
                        <th scope = "col">Accept Bid</th>
                      <% } %>
                    </tr>
                  </thead>
                  <tbody>
                      <% for(var i=0; i<data2.length; i++){ %>
                          <tr>
                              <td><%= data2[i].bid_price%></td>
                              <td><%= data2[i].bid_user%></td>
                              <td><%= data2[i].bid_info%></td>
                              <% if (self) { %>
                                <form method = 'POST' action = "/viewOfferJob/accept/<%= data2[i].bid_id %>">
                                  <td><button type="submit" class="btn btn-info" value ="Accept">Accept</button></td>
                                </form>
                              <% } %>
                              <% if (!edit) { %>
                                <%- include modifyBidOfferButton.ejs -%>
                              <% } %>
                            </tr>
                      <% } %>
                  </tbody>
              </table>
            </div>

            <div class="card col-lg-6 align-self-center bg-light my-5">
              <% if (!auth) { %>
                <div class="align-items-center my-3">
                  <a class="btn btn-outline-info mr-2" href="/signuplogin" role="button">Login</a>
                  <b>to make a bid</b>
                </div>
              <% } else if ((auth && !self) || admin) { %>

                <% if (edit) { %>
                  <div class="card-header">
                    <b>Edit this Bid</b>
                  </div>
                  <form class="contact-form validate-form" method="POST" action="/viewOfferJob/<%= jobId %>/edit/<%= bidId %>">
                    <div class="wrap-input validate-input my-3" data-validate="Price is required">
                      <span class="label-input">Price:</span>
                      <input class="input" type="number" name="price" id="price" value=<%= bid[0].bid_price %>>
                      <span class="focus-input"></span>
                    </div>
            
                    <div class="wrap-input validate-input my-2" data-validate = "Additional Details are required">
                      <span class="label-input">Additional Details:</span>
                      <input class="form-control input-lg" name="details" id="details" placeholder="Don't spare us the knitty gritty details!" value=<%= bid[0].bid_info.trim() %>></input>
                      <span class="focus-input"></span>
                    </div>
            
                    <div class="container-contact-form-btn my-3">
                      <button class="contact-form-btn">
                        <span>
                          Submit
                          <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                  </form>

                <% } else { %>
                  <div class="card-header">
                    <b>Make a bid for this job!!</b>
                  </div>
                  <div class="card-body">
                    <form class="contact-form validate-form" method="POST" action="/viewOfferJob/<%= jobId %>">
                      <div class="wrap-input validate-input my-3" data-validate="Price is required">
                        <span class="label-input">Price:</span>
                        <input class="input" type="number" name="price" id="price" placeholder=" Price">
                        <span class="focus-input"></span>
                      </div>
              
                      <div class="wrap-input validate-input my-2" data-validate = "Additional Details are required">
                        <span class="label-input">Additional Details:</span>
                        <textarea  class="form-control input-lg" name="details" id="details" placeholder="Don't spare us the knitty gritty details!"></textarea>
                        <span class="focus-input"></span>
                      </div>
              
                      <div class="container-contact-form-btn my-3">
                        <button class="contact-form-btn">
                          <span>
                            Submit
                            <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
                          </span>
                        </button>
                      </div>
                    </form>
                  </div>
                <% } %>

              <% } else { %>
                <b>Can't bid for your own jobs</b>
              <% } %>
          </div>
        </div>
      </div>
       
      <% } %>

  </div>
  <!-- Footer -->
  <%- include footer.ejs -%>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
